/* App.css */

.app {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(247, 241, 241, 0.1);
  border-radius: 5px;
  font-family: 'montseratt', sans-serif;
  min-height: 50vh;
  background-image: url("./assets/cold.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  
}

.main{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  
}

.weather-display {
  background-color: hsl(184, 93%, 73%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  

  
}

.error {
  color: red;
  margin: 10px 0;
}
.app.warm{
  background-image: url('./assets/warm.jpg');
}
.text{
  color:black;
}
.search-box{
  width: 50%;
  
}
